.c-post {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  will-change: transform;
}
.c-post:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.post__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.post__title {
  padding: 5px 10px;
  margin: 0;
  line-height: 1.2em;
}
.post__content {
  padding: 10px 10px;
}

.post__tags {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}
.post__tag-title {
  font-weight: bold;
  margin-right: 5px;
}
.post__tag {
  display: block;
  margin-right: 2.5px;
}
.post__read-more {
  font-size: 12px;
  padding: 5px 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #c2c2c2;
  text-transform: uppercase;
}
